<!DOCTYPE html>
{% load static %}
<html>
<head>
    <title>Состояние ПО тракторов</title>
    <link rel="stylesheet" href="{% static 'css/cell_colors.css' %}">
    <style>
        table { border-collapse: collapse; width: 100%; }
        th, td { border: 1px solid #ddd; padding: 8px; text-align: left; text-align: center;}
        th { background-color: #f2f2f2; text-align: center;}
        .scrollable {
            overflow-x: auto;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
</head>
<body>
    {{ tractors_info|json_script:"tractors_info_response" }}
    {{ components|json_script:"components_response" }}
    <h1>Версии ПО тракторов</h1>
    <table class="tractor_list_table", id="tractor_list_table">
        <thead>
            <tr>
                <th rowspan="3" scope="col">№ Трактора</th>
                <th rowspan="3" scope="col">Модель трактора</th>
                <th colspan="2" rowspan="2" scope="col">ДВС</th>
                <th colspan="2" rowspan="2" scope="col">КП</th>
                <th colspan="2" rowspan="2" scope="col">Рулевая колонка</th>
                <th colspan="2" rowspan="2" scope="col">Распред</th>
                <th colspan="4" scope="col">БК</th>
            </tr>
            <tr>
                <th colspan="2" scope="col">Дисплей БК</th>
                <th colspan="2" scope="col">Контроллер БК</th>
            </tr>
            <tr>
                <th scope="col">Артикул</th>
                <th scope="col">Версия ПО</th>
                <th scope="col">Артикул</th>
                <th scope="col">Версия ПО</th>
                <th scope="col">Артикул</th>
                <th scope="col">Версия ПО</th>
                <th scope="col">Артикул</th>
                <th scope="col">Версия ПО</th>
                <th scope="col">Артикул</th>
                <th scope="col">Версия ПО</th>
                <th scope="col">Артикул</th>
                <th scope="col">Версия ПО</th>
            </tr>
        </thead>
        <tbody class="tractor_list_tbody">
        </tbody>
    </table>
    <script src="{% static 'js/tractor_list.js' %}"></script>
    <script>
        $(document).ready(function() {
        $('#tractor_list_table').DataTable({
            "pageLength": 10,
            "ordering": true, // Включение сортировки
            "searching": true, // Включение фильтрации
        });
        });
    </script>
</body>
</html>