.green {
    background-color: #90EE90;
}

.old {
    background-color: #FFFFE0;
}

.critical_old {
    background-color: #FFCCCB;
}

.broken {
    background-color: #FF0000;
}

.gray {
    background-color: #f0f0f0;
}
